{"Apps":[{"AppType":"objects","AppID":11487,"Fields":[{"Name":"nameObject","ID":161875},{"Name":"typeObject","ID":161879},{"Name":"AssetBundleURL","ID":161877},{"Name":"thumbnail","ID":179901},{"Name":"materialGroupReference","ID":181164}]},{"AppType":"materials","AppID":11477,"Fields":[{"Name":"nameMaterial","ID":161757},{"Name":"AssetBundleURL","ID":161878},{"Name":"refToObjects","ID":161882},{"Name":"materialGroupReference","ID":181163}]},{"AppType":"scenes","AppID":11381,"Fields":[{"Name":"SceneName","ID":160665},{"Name":"AssetBundleURL","ID":160675},{"Name":"PreviewAssetBundleURL","ID":179574}]},{"AppType":"materialGroup","AppID":12727,"Fields":[{"Name":"Type of field","ID":0},{"Name":"Type of field","ID":3},{"Name":"Type of field","ID":6},{"Name":"Type of field","ID":9}]}],"AuthKey":"yanWiGutidv7I2%2FbzFlg%2BFcPWNrRbQwvM%2Foli%2BXPQdN1lA6ENtCuHGMHtcFXyJay9j9gmUBFHEnmYYfYNOkPig%3D%3D"}